body {
    margin: 0 0;
}
ul, li {
    list-style: none;
    display: list-item;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
[v-cloak] {
    display: none;
}

.clearfix:after {
    clear: both;
    content: '';
    font-size: 0;
    display: block;
    visibility: hidden;
    height: 0;
}
.footer-tab {
    width: 100%;
    height: 64px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #eee;
}
.tab-wrapper {
    height: 100%;
    display: flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    padding: 0 10px;
    margin: 0 0;
    align-items: center;
}
.tab-wrapper a {
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    text-decoration-line: none;
}
.tab-wrapper li {
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    text-align: center;
    font-size: 12px;
    color: #515151;
}
.tab-wrapper li.active {
    color: #d81e06;
}
.tab-wrapper li p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}
.tab-wrapper li span {
    width: 24px;
    height: 28px;
    display: block;
    margin: auto;
    position: relative;
}
.router-link-active li {
    color: #d81e06;
}
.tab-wrapper li.index span {
    background: url('./icon/home.png') no-repeat;
    background-size: 24px 24px;
}
.router-link-active li.index span{
    background: url('./icon/home-active.png') no-repeat;
    background-size: 24px 24px;
}
/* .tab-wrapper li.index.active span{
    background: url('./icon/home-active.png') no-repeat;
    background-size: 24px 24px;
} */
.tab-wrapper li.recommend span {
    background: url('./icon/brand.png') no-repeat;
    background-size: 24px 24px;
}
.router-link-active li.recommend span{
    background: url('./icon/brand-active.png') no-repeat;
    background-size: 24px 24px;
}
/* .tab-wrapper li.recommend.active span{
    background: url('./icon/brand-active.png') no-repeat;
    background-size: 24px 24px;
} */
.tab-wrapper li.find span {
    background: url('./icon/focus.png') no-repeat;
    background-size: 24px 24px;
}
.router-link-active li.find span{
    background: url('./icon/focus-active.png') no-repeat;
    background-size: 24px 24px;
}
.tab-wrapper li.setting span {
    background: url('./icon/set.png') no-repeat;
    background-size: 24px 24px;
}
.router-link-active li.setting span{
    background: url('./icon/set-active.png') no-repeat;
    background-size: 24px 24px;
}